@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,700";
* {
	box-sizing: border-box;
}
body {
	background-image: linear-gradient(to right, #034378, #2d4e68);
	height: 100vh;
	font-family: 'Open Sans', sans-serif;
}
a {
	text-decoration: none;
}
h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
.row {
	max-width: 900px;
	margin: 50px auto 0;
}
.card {
	float: left;
	padding: 0 1.7rem;
	width: 50%;
	.menu-content {
		margin: 0;
		padding: 0;
		list-style-type: none;
		&::before {
			content: '';
			display: table;
		}
		&::after {
			content: '';
			display: table;
			clear: both;
		}
		span {
			position: absolute;
			left: 50%;
			top: 0;
			font-size: 10px;
			font-weight: 700;
			font-family: 'Open Sans';
			transform: translate(-50%, 0);
		}
	}
	.wrapper_cards{
		background-color: #fff;
		min-height: 400px;
		position: relative;
		overflow: hidden;
		box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
		&:hover {
			.data {
				transform: translateY(0);
			}
    }
    .header {
      .date {
        .year {
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
	}
	.data {
		position: absolute;
		bottom: 15px;
		width: 100%;
		transform: translateY(calc(70px + 1em));
		transition: transform 0.3s;
		.content {
			padding: 1em;
			position: relative;
			z-index: 1;
		}
	}
	.author {
		font-size: 12px;
		font-family: 'Open Sans', sans-serif;
	}
	.title {
		margin-top: 10px;
		background-color: black;
		font-weight: bold;
	}
	.text {
		height: 70px;
		margin: 0;
		font-family: 'Open Sans', sans-serif;
	}
	.button-add {
		display: block;
		width: 100px;
		margin: 2em auto 1em;
		text-align: center;
		color: #fff;
		border: 1px #fff solid;
		background-color: black;
		cursor: pointer;
	}
}
.wrapper_cards {
	width: 270px;
	&:hover {
		.menu-content {
			span {
				transform: translate(-50%, -10px);
				opacity: 1;
			}
		}
	}
}
.header {
	color: #fff;
	padding: 1em;
	&::before {
		content: '';
		display: table;
	}
	&::after {
		content: '';
		display: table;
		clear: both;
	}
	.date {
		float: left;
		font-size: 12px;
	}
}
.menu-content {
	float: right;
	li {
		margin: 0 5px;
		position: relative;
	}
	span {
		transition: all 0.3s;
		opacity: 0;
	}
}
.data {
	color: #fff;
  transform: translateY(calc(70px + 4em));
}
.fa-star::before {
  color: yellow;
  font-weight: bold;
}
.face-icon, .star-wrapper {
  display: inline-block;
}
.star-rating .ui-rating a {
  color: yellow;
  text-decoration: none;
}
.title {
	a {
		color: #fff;
	}
}
.button {
	display: block;
	width: 100px;
	margin: 2em auto 1em;
	text-align: center;
	font-size: 12px;
	color: #fff;
	line-height: 1;
	position: relative;
	font-weight: 700;
	&::after {
		content: '\2192';
		opacity: 0;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translate(0, -50%);
		transition: all 0.3s;
	}
	&:hover {
		&::after {
			transform: translate(5px, -50%);
			opacity: 1;
		}
	}
}


// @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
// * {
//   box-sizing: border-box;
// }
// body {
//   background-image: linear-gradient(to right, #034378, #2d4e68);
//   height: 100vh;
//   font-family: 'Open Sans', sans-serif;
// }
// a {
//   text-decoration: none;
// }
// h1 {
//   font-family: 'Open Sans', sans-serif;
//   font-weight: 300;
// }
// .row {
//   max-width: 900px;
//   margin: 50px auto 0;
// }
// .card {
//   float: left;
//   padding: 0 1.7rem;
//   width: 50%;
// }
// .card .menu-content {
//   margin: 0;
//   padding: 0;
//   list-style-type: none;
// }
// .card .menu-content::before, .card .menu-content::after {
//   content: '';
//   display: table;
// }
// .card .menu-content::after {
//   clear: both;
// }
// .card .menu-content li {
//   display: inline-block;
// }
// .card .menu-content a {
//   color: #fff;
// }
// .card .menu-content span {
//   position: absolute;
//   left: 50%;
//   top: 0;
//   font-size: 10px;
//   font-weight: 700;
//   font-family: 'Open Sans';
//   transform: translate(-50%, 0);
// }
// .card .wrapper {
//   background-color: #fff;
//   min-height: 400px;
//   position: relative;
//   overflow: hidden;
//   box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
// }
// .card .wrapper:hover .data {
//   transform: translateY(0);
// }
// .card .data {
//   position: absolute;
//   bottom: 15px;
//   width: 100%;
//   transform: translateY(calc(70px + 1em));
//   transition: transform 0.3s;
// }
// .card .data .content {
//   padding: 1em;
//   position: relative;
//   z-index: 1;
// }
// .card .author {
//   font-size: 12px;
//   font-family: 'Open Sans', sans-serif;
// }
// .card .title {
//   margin-top: 10px;
//   background-color: black;
//   font-weight: bold;
// }
// .card .text {
//   height: 70px;
//   margin: 0;
//   font-family: 'Open Sans', sans-serif;
// }
// .card .button-add {
//   display: block;
//   width: 100px;
//   margin: 2em auto 1em;
//   text-align: center;
//   color: #fff;
//   border: 1px #fff solid;
//   background-color: black;
//   cursor: pointer;
// }
// .wrapper {
//   width: 270px;
// }
// .wrapper:hover .menu-content span {
//   transform: translate(-50%, -10px);
//   opacity: 1;
// }
// .header {
//   color: #fff;
//   padding: 1em;
// }
// .header::before, .header::after {
//   content: '';
//   display: table;
// }
// .header::after {
//   clear: both;
// }
// .header .date {
//   float: left;
//   font-size: 12px;
// }
// .menu-content {
//   float: right;
// }
// .menu-content li {
//   margin: 0 5px;
//   position: relative;
// }
// .menu-content span {
//   transition: all 0.3s;
//   opacity: 0;
// }
// .data {
//   color: #fff;
//   transform: translateY(calc(70px + 4em));
// }
// .title a {
//   color: #fff;
// }
// .button {
//   display: block;
//   width: 100px;
//   margin: 2em auto 1em;
//   text-align: center;
//   font-size: 12px;
//   color: #fff;
//   line-height: 1;
//   position: relative;
//   font-weight: 700;
// }
// .button::after {
//   content: '\2192';
//   opacity: 0;
//   position: absolute;
//   right: 0;
//   top: 50%;
//   transform: translate(0, -50%);
//   transition: all 0.3s;
// }
// .button:hover::after {
//   transform: translate(5px, -50%);
//   opacity: 1;
// }
