<div class="row">
  <div class="card">
    <!-- <div class="wrapper" style= "{background: url({{url}}) center / cover no-repeat}"> -->
    <div class="wrapper_cards" [ngStyle]="{'background-image': 'url(' + cover + ')','background-repeat': 'no-repeat','background-size': 'cover','background-position': 'center'}">
    <!-- <div class="wrapper"> -->
      <div class="header">
        <div class="date">
          <span class="year">{{year}}</span>
        </div>
      </div>
      <div class="data">
        <div class="content">
          <span class="author">{{author}}</span>
          <h1 class="title">{{title}}</h1>
          <p class="text">{{quote}}</p>
          <span class="star-wrapper"><p-rating class = "star-rating" [ngModel]="star" readonly="true" [cancel]="false"></p-rating></span>
          <span *ngIf="result(star); else sad" class="face-icon"><i class="fa fa-smile-o" aria-hidden="true"></i></span>
          <ng-template #sad><i class="fa fa-frown-o" aria-hidden="true"></i></ng-template>
          <button *ngIf="addMode" class="button-add"(click)="addToCart()">Add to Cart</button>
          <button *ngIf="!addMode" class="button-add"(click)="removeFromCart()">Remove</button>
        </div>
      </div>
    </div>
  </div>
</div>
