
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #F5F7FA;
  line-height: 1.2;
}
.wrapper {
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 1000;
  // max-width: 800px;
  // margin-right: auto;
  // margin-left: auto;
  // margin-top: 80px;
  // margin-bottom: 200px;
}
.content {
  width: auto;
}
.navbar {
  padding: 20px;
  width: auto;
  background-color: #434A54;
  color: #fff;
}

.book-cards {
  display: flex;
  flex-flow: row wrap;
}
.result {
  position: fixed;
  top: 67px;
  z-index: 1000;
  background-color: aliceblue;
  display: block;
  height: 40px;
  width: 100%;
    .result-book-number {
      margin-left: 0px;
    }
    .result-book-filter{

    }
    .result-book-search{
      margin-left: 100px;
        input {
          padding: 5px 0 5px;
          width: 40%;
          height: 25px;
          background-color: aliceblue;
          border: none;
          border-bottom: 1px solid #34495e;
          font-size: 20px;
        }
        input:focus{
          outline: none;
          border-color: #2980b9;
        }

    }
    .result-book-sort{

    }
}
.books-wrapper {
  margin-top: 100px
}

.filter-popup {
z-index: 1200;
}

#author-filter {
  max-height: 90vh;
  overflow: auto;
}

.filter-side-bar {
.filter-button-group {
    padding-top: 10px;
}
}
.ui-listbox.ui-inputtext.ui-widget.ui-widget-content.ui-corner-all {
  padding: 0;
  width: 259px;
  margin-top: 30px;
  height: 235px;
  overflow: auto;
}
