<!-- nav br section -->

<div class="wrapper cf">
  <div class="content">
    <nav class="navbar">
      <h2>BookLibrary App</h2>
      <span class="user-cart" (click)="userCart($event,userCartPanel)">
        <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
        <span class='badge badge-warning' id='lblCartCount'> 5 </span>
      </span>
      <span class="user-icon" (click)="userInfo($event,userInfoPanel)">
        <i class="fa fa-user fa-2x" aria-hidden="true"></i>
      </span>
    </nav>
  </div>
</div>
<p-overlayPanel #userInfoPanel>
    <div>UserName</div>
    <div>LogOut</div>
</p-overlayPanel>
<p-overlayPanel #userCartPanel>
    <div>UserName</div>
    <div>LogOut</div>
</p-overlayPanel>

<!-- result and filters-->
<section class="result">
  <!-- <span class="result-book-number">{{books.length}} books found</span> -->
  <span class="result-book-search">
    <input
      type="text"
      placeholder="serch your book"
      [(ngModel)] = "searchTerm"
      (change)="filterBySearch()" /><i class="fa fa-search fa-2x" (click)="filterBySearch()"></i>
  </span>
  <!-- <span class="result-book-filter"><button (click)="openFilter()"> <i class="fa fa-filter"></i></button></span> -->
  <p-button styleClass = "result-book-filter" (onClick)="openFilter($event)" icon="fa fa-fw fa-filter"></p-button>
  <select class="result-book-sort" (change)="sortBy($event.target.value)">
    <option>Sort</option>
    <option>rating high to low</option>
    <option>rating low to high</option>
    <option>availability</option>
    <option>pages low to high</option>
    <option>pages high to low</option>
    <option>none</option>
  </select>
</section>

<p-sidebar styleClass = "filter-side-bar" [(visible)]="isFilterOpen" position="right" [blockScroll] = "true" [baseZIndex]="10000">
    <p-listbox
    id = "filtor-listbox-cat"
    [options]="catagories"
    multiple="multiple"
    checkbox="checkbox"
    filter="filter"
    optionLabel="label"
    (onChange) ="setCatFilter($event)"
     [(ngModel)]="selectedCat" >
        <p-header>
          catagories
        </p-header>
      </p-listbox>
    <p-listbox
    styleClass = "filter-listbox-aut"
    [options]="authors"
    multiple="multiple"
    checkbox="checkbox"
    filter="filter"
     optionLabel="label"
     (onChange) ="setAuthorFilter($event)"
     [(ngModel)]="selectedAut" >
        <p-header>
          Authors
        </p-header>
      </p-listbox>
      <div class="filter-button-group">
      <p-button label="Apply" (onClick)="applyFilters()" class="ui-button-success" > Apply</p-button>
      <p-button label="Cancel" (onClick)="cancelFilters()" > Cancel</p-button>
      <p-button label="Reset" (onClick)="resetlFilters()" class="ui-button-warning"> Reset</p-button>
    </div>
</p-sidebar>


<!--books-->
<section class="books-wrapper">
  <div class="book-cards">
      <app-book-card
          *ngFor="let book of books; let i=index"
          id={{book._id}}
          title = "{{book.title}}"
          quote = "{{book.quote}}"
          author = "{{book.author}}"
          cover = "{{book.cover}}"
          year = "{{book.year}}"
          star = "{{book.rating}}"
          pages = "{{book.pages}}"
          rented = "{{book.rented}}"
          ></app-book-card>
  </div>
</section>
