* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #f5f7fa;
  line-height: 1.2;
}
.wrapper {
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 1000;
  // max-width: 800px;
  // margin-right: auto;
  // margin-left: auto;
  // margin-top: 80px;
  // margin-bottom: 200px;
}
.content {
  width: auto;
}
.navbar {
  padding: 20px;
  width: auto;
  background-color: #434a54;
  color: #fff;
  h2 {
    display: inline;
  }
  span {
    display: inline;
  }
  .user-cart {
    margin-left: 1025px;
    #lblCartCount {
      font-size: 12px;
      background: #ff0000;
      color: #fff;
      padding: 0 5px;
      vertical-align: top;
      margin-left: -10px;
    }
    .badge {
      padding-left: 9px;
      padding-right: 9px;
      -webkit-border-radius: 9px;
      -moz-border-radius: 9px;
      border-radius: 9px;
    }

    .label-warning[href],
    .badge-warning[href] {
      background-color: #c67605;
    }
  }
  .user-icon {
    margin-left: 20px;
  }
}

.book-cards {
  display: flex;
  flex-flow: row wrap;
}
.result {
  position: fixed;
  top: 67px;
  z-index: 1000;
  background-color: aliceblue;
  display: block;
  height: 40px;
  width: 100%;
  .result-book-number {
    margin-left: 0px;
  }
  .result-book-filter {
    margin-left: 200px;
    font-size: 17px;
    color: black;
    background: transparent;
    border-radius: 50%;
    border-color: black;
  }
  .result-book-filter .ui-button:hover {
    color: white;
    background: black;
    border-color: white;
  }
  .result-book-search {
    margin-left: 400px;
    input {
      padding: 5px 0 5px;
      width: 40%;
      height: 25px;
      background-color: aliceblue;
      border: none;
      border-bottom: 1px solid #34495e;
      font-size: 20px;
      text-align: center;
    }
    input:focus {
      outline: none;
      border-color: #2980b9;
    }
  }
  .result-book-sort {
  }
}
.books-wrapper {
  margin-top: 100px;
}

.filter-popup {
  z-index: 1200;
}

#author-filter {
  max-height: 90vh;
  overflow: auto;
}

.filter-side-bar {
  .filter-button-group {
    padding-top: 10px;
  }
}
.ui-listbox.ui-inputtext.ui-widget.ui-widget-content.ui-corner-all {
  padding: 0;
  width: 259px;
  margin-top: 30px;
  height: 235px;
  overflow: auto;
}
